<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nsTraffecSign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC0167AB1F3D4C9300EC4A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0167BF1F3D4C9300EC4A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC0167CA1F3D4C9300EC4A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
